[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

# +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

# Most up-to-date versions of dependencies as of 2024-11-19:

ansible         = "==  11.0.0"
ansible-creator = "== 24.11.0"
ansible-lint    = "== 24.10.0"
boto3           = "== 1.35.65"
mitogen         = "==  0.3.18"
molecule        = "==  24.9.0"
yamllint        = "==  1.35.1"

# +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

# Using version 23.5.0 because of the issue that is reported here:
# https://github.com/ansible-community/molecule-plugins/issues/239

# Fix is ready and was merged already. Details here:
# https://github.com/ansible-community/molecule-plugins/pull/240

# As of 2024-11-19 the fix mentioned above is now merged however a
# new version of the molecule-plugins package was not released yet.

"molecule-plugins[ec2]"     = "== 23.5.0"
"molecule-plugins[docker]"  = "== 23.5.0"
"molecule-plugins[vagrant]" = "== 23.5.0"

# +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

[dev-packages]
