[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

"ansible"                   = "==  11.6.0"
"ansible-lint"              = "==  25.5.0"
"ansible-creator"           = "==  25.5.0"
"boto3"                     = "== 1.38.23"
"mitogen"                   = "==  0.3.23"
"yamllint"                  = "==  1.37.1"
"molecule"                  = "==  25.5.0"

"molecule-plugins[ec2]"     = "==  23.6.0"
"molecule-plugins[docker]"  = "==  23.6.0"
"molecule-plugins[vagrant]" = "==  23.6.0"

[dev-packages]
