[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

"ansible"                   = "==  9.13.0"
"ansible-lint"              = "==  25.1.2"
"ansible-creator"           = "==  25.0.0"
"boto3"                     = "== 1.36.17"
"mitogen"                   = "==  0.3.22"
"yamllint"                  = "==  1.35.1"

"molecule"                  = "== 24.12.0"
"molecule-plugins[ec2]"     = "==  23.6.0"
"molecule-plugins[docker]"  = "==  23.6.0"
"molecule-plugins[vagrant]" = "==  23.6.0"

[dev-packages]
